# Application
PORT=
DISABLE_REGISTRATION=
APP_ENVIRONMENT=self-hosted
ADMIN_TOKEN=

# Legal
TERMS_OF_SERVICE_VERSION=
PRIVACY_POLICY_VERSION=
PROVIDER_OPENAI_LEGAL_VERSION=
PROVIDER_ANTHROPIC_LEGAL_VERSION=
PROVIDER_MISTRAL_LEGAL_VERSION=

# Auth
CORS_ALLOWED_ORIGINS=http://localhost:5173/,http://localhost:3000
COOKIE_SAME_SITE=lax
COOKIE_DOMAIN=localhost
COOKIE_SECRET=SECRET_KEY
JWT_EXPIRES_IN=
COOKIE_SECURE=true

# Database
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# Subscriptions
PRICE_PER_SEAT_MONTHLY=
PRICE_PER_SEAT_YEARLY=

# Model Providers (at least one required!)

## Mistral API
MISTRAL_API_KEY=

## OpenAI API 
OPENAI_API_KEY=

## Anthropic API 
ANTHROPIC_API_KEY=

# Langfuse (optional)
LANGFUSE_SECRET_KEY="sk-lf-..."
LANGFUSE_PUBLIC_KEY="pk-lf-..."
LANGFUSE_BASEURL="https://cloud.langfuse.com"

# MinIO
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
MINIO_ENDPOINT=
MINIO_PORT=
MINIO_USE_SSL=
MINIO_BUCKET=